* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: rgb(116, 104, 104);
  width: 100%;
}

p, li {
  font-size: 20px;
}

nav {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}
nav a {
  text-decoration: none;
  font-size: 24px;
  color: #b68f8f;
}

header {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f0f0;
  border-bottom: 2px solid rgb(191, 190, 190);
}

main {
  width: 50%;
  margin: auto;
}

.cont-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8em;
}

h1 {
  font-family: "Russo One", sans-serif;
  font-size: 2.9em;
  color: #805c5c;
  margin: auto;
}

.cont-first {
  text-align: center;
  height: auto;
  border-radius: 100px;
}
.cont-first h2 {
  display: inline;
}
.cont-first p {
  width: 50%;
  margin: 1em auto;
  font-size: 22px;
}

article {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}
article .cont-article {
  margin: auto;
  width: 90%;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed rgb(218, 184, 190);
  background-color: #f7f6f6;
  border-radius: 50px;
  margin-bottom: 1em;
}
article h3 {
  color: rgb(179, 150, 150);
  margin-top: -10px;
}
article ul {
  line-height: 27px;
}
article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside {
  max-width: 10%;
  height: auto;
  margin-left: auto;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.aside-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

footer {
  height: 15vh;
  background-color: #444343;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer p {
  font-size: 24px;
  color: #b68f8f;
}
footer .footer-links {
  padding: 17px;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer a {
  font-size: 20px;
  text-decoration: none;
  color: #b68f8f;
}

.grid-cont {
  height: 100vh;
  gap: 1%;
  margin-top: 7vh;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(3, 16.2666666667vw);
  border: solid 2px #000;
}
.grid-cont .grid-item {
  background-size: cover;
  background-position: center;
}

@media (max-device-width: 480px) {
  body {
    background-color: blue;
  }
}